<div>
  <h2>About Us</h2>
  <p>
    Welcome to the page of Train Ticket Reservation System project, developed in
    collaboration with Anudip Foundation.
  </p>

  <h3>Project Overview</h3>
  <p>
    Our team, consisting of G Jhansi Lahari, N Mounika, and K Ganesh, in
    partnership with Anudip Foundation, is committed to providing a seamless and
    efficient train ticket reservation system. This project aims to enhance the
    user experience and streamline the process of booking train tickets for
    travelers.
  </p>

  <h3>Anudip Foundation</h3>
  <p>
    We are proud to collaborate with Anudip Foundation, a non-profit
    organization dedicated to empowering individuals through digital skills
    training and livelihood development. This project is a testament to our
    shared vision of leveraging technology for positive social impact.
  </p>
  <h3>Our Mission</h3>
  <p>
    At Anudip Foundation and our project team, our mission is to make train
    travel accessible and convenient for everyone. Through innovation and
    technology, we strive to simplify the ticket reservation process, making it
    user-friendly and efficient.
  </p>
</div>
