<nav>
  <img src="assets/gggg.jpg" alt="Navbar Image" width="1560" height="40" />

  <ul>
    <li routerLinkActive="active">
      <a routerLink="/dashboard">User Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/register">User Registration</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/login">User Login</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/TrainDashboard">train dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/bookingdashboard">Booking dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/create-train">create Train </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/booking-details-post">Booking</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/ticket-post">create ticket</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/ticket-generator/:userId">Ticket Generator</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/Home">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/about">About</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>
</nav>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
