.dashboard-container {
  display: flexbox;
}

.navbar {
  width: 200px;
  background-color: rgb(232, 234, 217);
  color: #fff;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #211e1e;

  font-weight: bold;
  font-size: 16px;
  display: block;
  padding: 8px;
}

.sidebar a:hover {
  background-color: #555;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
h1,
h2 {
  color: rgb(19, 14, 14);
  text-align: center;
  background-color: #a7bfd9;

  padding: 15px;
  border: 2px solid #8a4d4dec;
  background-clip: padding-box;
}
